.css-spn4bz:hover {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.nav-open {
    opacity: .5;
}

.navHovered a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 3.2px;
    background: #ff8e3c;
}

.linkHovered a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3.2px;
    background: #ff8e3c;
}

.linkHovered a:hover::after {
    width: 50%;
    left: 25%;
}